html
{
	font-family: 'Merriweather', serif;
	background-color: black;
}

body
{
	width: 900px;
	margin: 0 auto;
	background-color: black;
	color: white;
	padding: 0px 20px 20px 20px;
  	border: 7px solid grey;
}

h1
{
	margin: 0;
	font-size: 60px;
	text-align: center;
	padding: 20px 0px;
	text-shadow: 2px 2px 1px black;
}

h2
{
	font-size: 40px;
}

p,li
{
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
}

img
{
	display: block;
	margin 0 auto;
	width : 900px;
}