html
{
	font-family: 'Merriweather', serif;
	background-color: black;
	background-image: url("../images/space2.jpg");

}

dl
{
	font-family: 'Merriweather', serif;
}

ul
{
	background-color: #333;
}

a
{
	color: red;
}

ul.naviglist
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  	background-color: #333;
}

li.navigli
{
  float: left;
}

li.navigli a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navigli a:hover 
{
  background-color: #111;
}

div
{
	background-color: darkblue;
	color: white;
	width: 900px;
	font-size: 30px;
	line-height: 2;
	letter-spacing: 1px;

}
body
{
	width: 900px;
	margin: 0 auto;
	background-color: black;
	color: white;
	padding: 0px 20px 20px 20px;
  	border: 7px solid grey;
  	background-image: url("../images/html_bg.jpg");
}

h1
{
	margin: 0;
	font-size: 60px;
	text-align: center;
	padding: 20px 0px;
	text-shadow: 2px 2px 1px black;
}

h2
{
	font-size: 40px;
}

p,li,dl
{
	font-size: 20px;
	line-height: 2;
	letter-spacing: 1px;
}

img
{
	display: block;
	margin 0 auto;
	width : 900px;
}